html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.image-container img {
  max-width: 100%;
}

.mobile {
  display: none;
}

/* Color list */
header {
  background-color: #333241;
}

#banner {
  background-color: #375270;
}

section.information {
  background-color: #A2AFC0;
}

section.courses {
  background-color: #6E8BA9;
}

.learning .course {
  background-color: #6E8BA9;
}

section.thesis {
  background-color: #A2AFC0;
}

footer {
  background-color: #333241;
}

/* Header */

header .container {
  display: flex;
  align-items: center;
  height: 4rem;

}

header .logo {
  flex: 1;
}

header .flex {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

header .flex img {
  height: 3rem;
}

span.light {
  font-weight: 100;
  opacity: .4;
}

span.strong {
  font-weight: 600;
}

nav ul {
  padding-right: 1.5rem;
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a img {
  vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  nav li {
    padding: 0;
  }
}

/* Banner */

#banner .container {
  display: flex;

}

.left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right {
  width: 40%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 1rem;
  max-width: 70%;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.1;
}

.main span {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.button {
  background-color: black;
  color: white;
  padding: 0.8rem 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  #banner .container {
    flex-direction: column;
  }

  #banner .left {
    width: auto;
    padding: 0;
  }

  #banner .right {
    width: auto;
    padding: 2rem 1rem;
  }

  .main {
    max-width: 100%;
  }
}

/* Information Main */

.information .container {
  display: flex;

}

.information .left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #C6D6EB;
}

@media only screen and (max-width: 768px) {
  .information .left {
    display: none;
  }
}


/* Information list */

.information .right {

}

.container .left h2 {
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.container .left span {
  font-size: .8rem;
  margin-top: 1.5rem;
}

.item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #C6D6EB;
}

.item .image-container {
  width: 35%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
  line-height: 1.2;
}

.info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info p {
  margin-bottom: 0.5rem;
}

.info a {
  color: #2d8ae2;
}

.information .right .item:first-child {
  padding-top: 2rem;
}

.information .right .item:last-child {
  background-color: #C6D6EB;
}

@media only screen and (max-width: 768px) {
  .information .right {
    width: 100%;
    padding: 1rem;
  }

  .item {
    flex-direction: column;
    margin: 1rem 0;
  }

  .item img.mobile {
    display: block;
    width: 100%;
  }

  .item .image-container {
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .information .right .item:first-child {
    padding-top: 1rem;
    margin-top: 0;
  }

  .information .right .item:last-child {
    background-color: inherit;
  }
}


/* Courses */

.courses .container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

}

section h2 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  padding-top: 2rem;
}

.row {
  display: flex;
  margin-bottom: 1.5rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.course {
  flex: 1;
  margin: 0 .75rem;
  box-shadow: 0 0 10px rgba(0,0,0,.15),0 3px 3px rgba(0,0,0,.15);
}

.course .image-container {
  height: auto;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.img-wrapper img {

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  vertical-align: middle;
}

.img-wrapper img:hover {
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* IE 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);

}

a.headline:hover {
  border-bottom: 2px solid darkblue;
  color: darkblue;
}

.course .content {
  padding: 1rem;
  line-height: 1.2;
}

.content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 768px) {
  .courses .container {
    padding: 1rem 0;
  }

  .course {
    margin-bottom: .5rem;
  }

  .row {
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .content p {
    display: none;
  }
}

/* Thesis Main */

.thesis .container {
  display: flex;

}

.thesis h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Thesis List */

.thesis-list .item {
  border: none;

}

.thesis .right .item:first-child {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #C6D6EB;
}

@media only screen and (max-width: 768px) {
  .thesis-list {
    display: none;
  }

  .left.thesis-main {
    width: auto;
    padding: 1rem 0;
  }

  .thesis-main h3,
  .thesis-main p {
    display: none;
  }
}

/* Footer */

footer .container {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  font-size: 0.8rem;

}

footer .copy {
  flex: 1;
  padding-left: 1.5rem;
}
