html {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.image-container img {
  max-width: 100%;
}

.mobile {
  display: none;
}

p {
  line-height: 1.4;
}


a {
  color: inherit;
}

/* Color list */

header {
  background-color: #FFFFFF;
}

#banner {
  background-color: #797783;
}

section.information {
  background-color: #dadada;
}

section.courses {
  background-color: #FFFFFF;
}

.learning .course {
  background-color: #6E8BA9;
}

section.thesis {
  background-color: #BCCCE1;
}

footer {
  background-color: #828E9E;
}

/* Header */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

header .logo {
  padding-left: 1.5rem;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

header .logo img {
  height: 3rem;
}

span.light {
  font-weight: 400;
  opacity: .4;
}

span.strong {
  font-weight: 600;
}

header nav ul {
  padding-right: 0.5rem;
  display: flex;
}


header nav li {
  padding: 1rem;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header nav li.long {
  padding: 1rem;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header nav li:hover {
  color: #fff;
  box-shadow: inset 140px 0 0 0 #BCCCE1;
}

nav a img {
  vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile li:hover {
    transition: none;
    box-shadow: none;
  }

  header .mobile ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header nav li {
    padding: 0;
  }
}

/* Banner */

#banner .container {
  display: flex;
  color: #000000;
}

.left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right {
  width: 40%;
  padding: 2rem 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 1rem;
  max-width: 80%;
}

.main h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.1;
  font-family: 'Rufina', serif;
}

.main span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 2px solid #000;
  transition: all ease-out .3s;
  text-transform: uppercase;
}

.button:hover {
  background-color: #828E9E;
  border-color: #9EABBD;

}

@media only screen and (max-width: 1200px) {
  .main h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 992px) {
  .main span {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}


@media only screen and (max-width: 768px) {
  #banner .container {
    flex-direction: column;
  }

  #banner .left {
    width: auto;
    padding: 0;
  }

  #banner .right {
    width: auto;
    padding: 2rem 0.5rem;
  }

  .main {
    max-width: 100%;
  }
}

/* Information Main */

.information .container {
  display: flex;

}

.information .left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E9E9E9;
}

@media only screen and (max-width: 768px) {
  .information .left {
    display: none;
  }
}


/* Information list */

.container .left h2 {
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.container .left span {
  font-size: .8rem;
  margin-top: 1.5rem;
}

.item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #E9E9E9;
}

.item .image-container {
  width: 35%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
  line-height: 1.2;
}

.info h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info p {
  margin-bottom: 0.5rem;
}

.info a {
  color: #797783;
  text-decoration: underline;
}

.info a:hover {
  color: #3C3B41;
  text-decoration: none;
}

.information .right .item:first-child {
  margin-top: -1rem;
}

.information .right .item:last-child {
  background-color: #E9E9E9;
  border-bottom: none;
}

@media only screen and (max-width: 768px) {
  .information .right {
    width: 100%;
    padding: 1rem 0.5rem;
  }

  .item {
    flex-direction: column;
    border-bottom: 2px solid #E9E9E9
  }

  .item img.mobile {
    display: block;
    width: 100%;
  }

  .item .image-container {
    width: 100%;
  }

  .info {
    width: calc(100% - 2rem);
    margin: 1rem 0;
    line-height: 1.4;
    padding: 0 1rem;
  }

  .information .right .item:first-child {
    padding-top: 1rem;
    margin-top: 0;
  }

  .information .right .item:last-child {
    background-color: inherit;
  }
}


/* Courses */

.courses .container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

}

section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  padding-top: 2rem;
}

.row {
  display: flex;
  margin-bottom: 1.5rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.course {
  flex: 1;
  margin: 0 .75rem;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0,0,0,.15),0 3px 3px rgba(0,0,0,.15);
}

.course .image-container {
  height: auto;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.img-wrapper img {

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  vertical-align: middle;
}

.img-wrapper img:hover {
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* IE 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);

}

.course .content {
  padding: 1rem;
  line-height: 1.2;
}

.content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 768px) {
  .courses .container {
    padding: 1rem 0;
  }

  .course {
    margin-bottom: .5rem;
  }

  .row {
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .content p {
    display: none;
  }

  .content h3 {
    margin: 0.5rem 0;
  }
}

/* Thesis Main */

.thesis .container {
  display: flex;
}

.left.thesis-main {
  padding-bottom: 6rem;
}

.thesis .left h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Thesis List */

.thesis-list .item {
  border: none;

}

.thesis .right .item:first-child {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #738090;
}

@media only screen and (max-width: 768px) {
  .thesis-list {
    display: none;
  }

  .left.thesis-main {
    width: auto;
    padding: 1rem 0;
  }

  .thesis-main h3,
  .thesis-main p {
    display: none;
  }
}

/* Footer */

footer .container {
  display: flex;
  flex-direction: column;
  color: #BCCCE1;
}

.social {
  display: flex;
  font-size: 1.5rem;
  color: #E7F1FF;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.5rem;
  align-items: center;
}

.social span {
  text-transform: uppercase;
  margin-right: 1rem;
  font-size: 1.1rem;
  text-align:
}

footer .bottom-row {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 0.8rem;
  border-top: 1px solid #BCCCE1;
  margin: 0 1.5rem;
}

footer .copy {
  flex: 1;
}

footer nav ul {
  display: flex;
}

footer nav li {
  padding-left: 1rem;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .social {
    justify-content: center;
    margin: 0;
  }

  footer ul li:first-child {
    padding: 0;
  }
}
